.idea

build
account-service/build
bill-service/build
config-service/build
deposit-service/build
notification-service/build
gateway/build
registry/build

.gradle
account-service/.gradle
bill-service/.gradle
config-service/.gradle
deposit-service/.gradle
notification-service/.gradle
gateway/.gradle
registry/.gradle